@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap");

:root {
  /* Linear Gradient: hsl(236, 72%, 79%) to hsl(237, 63%, 64%) */
  --Very-Light-Grayish-Blue: hsl(240, 78%, 98%);
  --Light-Grayish-Blue: hsl(234, 14%, 74%);
  --Grayish-Blue: hsl(233, 13%, 49%);
  --Dark-Grayish-Blue: hsl(232, 13%, 33%);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  min-height: 100vh;
  background-image: url(./images/bg-bottom.svg), url(./images/bg-top.svg);
  background-position: left bottom, right top;
  background-repeat: no-repeat;
  font-family: "Montserrat", sans-serif;
  background-color: var(--Very-Light-Grayish-Blue);
}

.title {
  color: var(--Grayish-Blue);
  margin-top: 2rem;
}

.option {
  display: flex;
  gap: 1rem;
  justify-content: center;
  color: var(--Light-Grayish-Blue);
  margin-top: 2rem;
}

.info {
  margin: 5rem;
  display: flex;
  justify-content: center;
}

.middle {
  width: 22rem;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  border-radius: 1rem;
  height: 28rem;
}

.line-1 {
  height: 1px !important  ;
  width: 80%;
  margin: auto auto;
  padding: 0;
  background-color: black;
  border-width: 0;
}

.line {
  border: none;
  border-bottom: 1px solid var(--Light-Grayish-Blue);
  width: 80%;
  margin: 0 auto;
}

.inside-info {
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.head {
  font-size: 15px;
  color: var(--Very-Light-Grayish-Blue);
  margin-top: 3rem;
}

.money {
  font-size: 50px;
  color: var(--Very-Light-Grayish-Blue);
  margin-top: 1rem;
  margin-bottom: 1rem;
}

.learn {
  margin-top: 3rem;
  margin-bottom: 3rem;
  width: 80%;
  padding: 0.5rem;
  letter-spacing: 0.1rem;
  color: hsl(237, 63%, 64%);
  font-family: "Montserrat", sans-serif;
  border-radius: 0.5rem;
  border-color: transparent;
}

.inside-info {
  color: var(--Very-Light-Grayish-Blue);
}

.first {
  background-color: white;
}

.first .head {
  color: var(--Grayish-Blue);
}

.first .money {
  color: var(--Dark-Grayish-Blue);
}

.first .inside-info {
  color: var(--Dark-Grayish-Blue);
}

.first .learn {
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
  color: var(--Very-Light-Grayish-Blue);
}

.first {
  width: 22rem;
  height: 26rem;
  margin-top: 1rem;
  display: inline-block;
  border-radius: 1rem;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.first .learn {
  /* margin-top: 1rem; */
}

.first .head {
  margin-top: 2rem;
}

.first-2 {
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
}

/* The switch - the box around the slider */
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
  background-image: linear-gradient(hsl(236, 72%, 79%), hsl(237, 63%, 64%));
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #2196f3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196f3;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

.option {
  display: flex;
  align-items: center;
}

button {
  cursor: pointer;
}

@media (max-width:900px) {
  .info{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    margin-top: 2rem;

  }
}
